.git
.idea
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache
.pub
build/
ios/
android/
macos/
windows/
linux/
test/
backend/
*.md
*.zip
*.png
.gitignore
Dockerfile
nginx.conf
entrypoint.sh
